body {
    font-family: "Inter", sans-serif;
    overflow: scroll; /* se l'elemento non entra nello schermo, si può scorrere*/

}
.container {
    height: auto;
    padding-top: 2rem;
    background-color: #f7f0f0;
    padding-bottom: 6rem;


}

.title {
    margin-bottom: 2.5rem;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    text-align: center;
}


@media (min-width: 1280px) {
    .main-container {
        padding-left: 0;
    }
}
.main-container {
    max-width: 70rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}


@media (min-width: 1280px) {
    .main-container {
        padding-left: 0;
        padding-right: 0;
    }
    .card-container {
        margin-right: 1.5rem;
    }



}


.rounded-container {
    border-radius: 0.5rem;
}
@media (min-width: 1068px) {
    .main-container {
        display: flex;
    }
    .rounded-container {
        width: 66.666667%; /* Quando lo schermo e >medio setta la larghezza a del  contenitore prodotti 66% del padre */
    }
    .total-container {
        margin-top: 0;
        width: 33.333333%; /* Quando ... setta la larghezza del contenitore del prezzo al 33% del padre a destra  */
        margin-right: 1.5rem;
    }
    .card-container{
        margin-right: 1.5rem;
    }
}


.card-container {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #ffffff;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06); /* 0 ne a destra ne a sinistra, 4 l'ombra è in basso, 6 l'ombra è sfocata, -1 raggio di estensione*/

}


.card-image {
    width: 100%;
    border-radius: 0.5rem; /* rotonda*/
}

@media (min-width: 640px) {

    .card-container{
        display: flex;
    }
    .card-image {
        width: 10rem;
    }
    .product-container {
        display: flex;
        margin-left: 1rem;
        justify-content: space-between; /*c'è spazio tra un figlio e l'altro */
        width: 100%;
    }
    .flex-container {
        display: block; /* mostra l'elemento su una nuova linea */
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
    .custom-class {
        display: block;
        margin-left: 1.5rem;
        margin-top: 1.5rem;
    }
}
/*
.product-container {

}
*/
.product-details {
    margin-top: 1.25rem;
}

.product-details h2 {
    color: #111827;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;

}

.product-info {
    margin-top: 0.25rem; /* mt-1 */
    font-size: 0.75rem; /* text-xs */
    color: #374151;  /* text-gray-700 */
    line-height: 1rem;
}

.custom-class {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
}

/*
.flex-container {
    display: flex;
    align-items: center;
    border: 1px solid #e5e7eb; /* Tailwind's border-gray-100 */

/* appropriate class names used */

.flex-container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.button-group {
    display: flex;
    align-items: center;
    border-color: #F3F4F6;

}


.minus-btn  {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.875rem;
    padding-right: 0.875rem;
    background-color: #F3F4F6;
    transition-duration: 100ms;
    border-top-left-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
    cursor: pointer;
    display: initial;

}
.minus-btn:hover {
    background-color: #3B82F6;
    color: #EFF6FF;
}

.plus-btn {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #F3F4F6;
    transition-duration: 100ms;
    border-top-right-radius: 0.25rem;
    border-bottom-right-radius: 0.25rem;
    cursor: pointer;
    display: initial;

}
.plus-btn:hover {
    background-color: #3B82F6;
    color: #EFF6FF;
}

.input-number {
    background-color: #ffffff;
    font-size: 0.75rem;
    line-height: 1rem;
    text-align: center;
    width: 2rem;
    height: 2rem;
    border-width: 1px;
    display: initial !important;
}


.price-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.price {
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 600;
    color: #111827;
}

svg {
    display: inline-block;
    vertical-align: middle;
    stroke-width: 1.5;
    stroke: currentColor;
    height: 1.25rem; /* equivalent to h-5 */
    width: 1.25rem; /* equivalent to w-5 */
    cursor: pointer;
    transition-duration: 150ms;
}

svg:hover {
    color: #ef4444; /* equivalent to hover:text-red-500 */
}


.total-container {
    padding: 1.5rem;
    margin-top: 1.5rem;
    background-color: #ffffff;
    height: 100%;
    border-radius: 0.5rem;
    border-width: 1px;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);

}


.subtotal-container {
    display: flex;
    margin-bottom: 0.5rem;
    justify-content: space-between;
}

.color-1 {
    color: #374151;
}

.giustifica {
    display: flex;
    justify-content: space-between;
}

.my-text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}



.final-price-amount {
    margin-bottom: 0.25rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 700;
}

/*.check-out {
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    margin-top: 1.5rem;
    background-color: #3B82F6;
    color: #EFF6FF;
    font-weight: 500;
    width: 100%;
    border-radius: 0.375rem;

}*/

.check-out {
    width: 100%;
    padding: 0.625rem 1.25rem;
    background-color: #1D4ED8;
    color: #ffffff;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    text-align: center;
    align-items: center;
    border-radius: 0.5rem;
    border:none;
    cursor: pointer;



}
.check-out:hover {
    background-color: #1E40AF;
}


/*.check-out svg {
    margin-right: 0.5rem;
    margin-left: -0.25rem;
    width: 1.25rem;
    height: 1.25rem;
    fill: #FFFFFF;


} al momento non serve ad una mazza*/



.container-1{
    padding-left: 8rem;
    padding-right: 8rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    margin-left: auto;
    margin-right: auto; /* margin auto sia a sinistra che a desta: centrati orizzontalmente rispetto al padre*/

}
.emptycart-container{

    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
    border-radius: 1rem;


}

.emptycart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70%;


}
.img-container {
    width: 50%; /* adjust size as needed */
    height: 300px;
    margin-bottom: 0.75rem;

}

#head {
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 10px; /* adjust the margin as needed */

}

#para {
    text-align: center;
    margin-top: 1rem;
    color: #696969;
}

.piuomeno{
    width: 150px;
}

.button-container {
	display:flex;
	justify-content: space-between;
  	align-items: center;
  	max-width: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
}

.button-color {
  color: #61BDD1;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 3px solid #61BDD1;
}

.button-color:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 3px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #61BDD1;
}

.button-color::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #308F9B;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 800ms;
}

.button-color:hover::before {
  width: 250%;
}