@charset "ISO-8859-1";
body {
        margin: 0;
        padding: 0;
        height: 100%;
      }


      nav {
     	background-color: #555555;
        color: #ffffff;
        display: flex;
        align-items: center;
        padding: 20px;
        justify-content: space-evenly;
      }




      img {
		width: 30%;
		max-width: 450px;
	  }
	  
	  a.navbar-button:link, a.navbar-button:visited {
 		background-color: #308F9B;
  		color: #F7F0F0;
  		padding: 7px 17px;
  		border-radius: 15px;
  		font-size: 16px;
  		text-align: center;
  		cursor: pointer;
  		text-decoration: none;
  		width: 50px;
  		display: inline-block;
  		margin-left: 5px;
	  }

	  a.navbar-button:hover, a.navbar-button:active {
  		background-color:  #34AAC4;
	  }
	  
	  input[type="submit"], input[type="reset"] {
  		width: 80px;
 		height: 30px;
  		font-size: 16px;
  		background-color: #308F9B;
  		color: #F7F0F0;
  		border: none;
  		border-radius: 15px;
  		padding: 10px;
  		cursor: pointer;
  		line-height: 10px;
  		vertical-align: middle;
	  }

	  input[type="submit"]:hover, input[type="reset"]:hover{
  		background-color: #34AAC4;
	  }


      .footer {
        background-color: #555555;
        color: #ffffff;
        padding: 10px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
      }