@charset "UTF-8";

/* Regole generali per il body */
body {
  background-color: #F7F0F0;
  font-family: Arial, sans-serif;
  margin: 0;
  max-width: 100%;
  overflow-x: hidden;
}

.quadrato {
	min-width: 100vw;
	min-height: 82vh;
	display:flex;
	justify-content: center;
	
}

/* Stili per il navbar */
.navbar:not(#escludi):not(#escludi *) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #273862;
  padding: 1rem;
}

.logo {
  width: 100%;
  max-width: 150px;
}

.navbar-button {
  color: #61BDD1;
  background-color: rgba(255, 255, 255, 0.25);
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3px;
  max-height: 40px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 3px solid #61BDD1;
}

.navbar-button:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 3px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #61BDD1;
}

.navbar-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #308F9B;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 800ms;
}

.navbar-button:hover::before {
  width: 250%;
}

.navbar div:not(#escludi):not(#escludi *) {
  display: flex;
  align-items: center;
}

.navbar a {
  text-decoration: none;
  margin-left: 10px;
}

.navbar form:not(#escludi):not(#escludi *) {
  margin: 0;
  margin-left: 10px;
  padding: 0px;
}

.navbar input[type="submit"]:not(#escludi):not(#escludi *) {
  color: #61BDD1;
  background-color: rgba(255, 255, 255, 0.025);;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.3em 0.6em;
}

.navbar input[type="submit"]:hover:not(#escludi):not(#escludi *) {
  background-color: transparent;
  color: #ffffff;
}

/* Stili per il messaggio di errore */
.error {
  color: red;
  text-align: center;
  margin-top: 1rem;
}

@media screen and (max-width: 768px) {
  
  .navbar .navbar-button:not(.logo-img){
  display: none;
  }
  
  .navbar a.icon {
   /* flex: right;*/
    display: block !important;
  }
}

@media screen and (max-width: 768px) {
  .navbar.responsive {
  position: relative;
  }
  .navbar.responsive a.icon {
    position: relative;
  }
  .navbar.responsive .navbar-button {
    float: none;
    display: block;
    text-align: left;
  }
}

.footer {
	background-color: #273862;
	color: #ffffff;
	padding: 10px;
	text-align: center;
	position: sticky;
	bottom: -50px;
	left: 0;
	width: 100%
}

  .navbar a.icon {
    display: none;
  }

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: #F7F0EC;
}

::-webkit-scrollbar:hover {
    background-color: #E0E0E0;
}

::-webkit-scrollbar-thumb {
    background: #34AAC4;
}

::-webkit-scrollbar-thumb:hover {
    background: #308F9B;
}

.loader {
  width: 150px;
  height: 150px;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
}

.loader_cube {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 30px;
}

.loader_cube--glowing {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.3);
}

.loader_cube--color {
  z-index: 1;
  filter: blur(2px);
  background: linear-gradient(100deg, #114B73, #61BDD1);
  animation: loadtwo 2.5s ease-in-out infinite;
}

@keyframes loadtwo {
  100% {
    transform: rotate(360deg);
  }
}