/* Regole generali per il body */
body {
  background-color: #F7F0F0;
  font-family: Arial, sans-serif;
}

h1 {
  color: #114B73;
  text-align: center;
  margin-top: 2rem;
}

form.profile:not(#escludi):not(#escludi *) {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

form.register:not(#escludi):not(#escludi *) {
	max-width: 500px;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

form.login:not(#escludi):not(#escludi *) {
	max-width: 400px;
	margin: 0 auto;
	background-color: #fff;
	padding: 2rem;
	border-radius: 5px;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}


label:not(#escludi):not(#escludi *) {
  color: #114B73;
  display: block;
  margin-bottom: 0.5rem;
}

input[type="email"],input[type="text"]:not(#escludi):not(#escludi *), input[type="password"] {
  padding: 0.5rem;
  border-radius: 3px;
  border: none;
  background-color: #f5f5f5;
  margin-bottom: 1rem;
}

input[type="submit"]:not(#escludi):not(#escludi *), input[type="reset"] {
  color: #61BDD1;
  background-color: transparent;
  text-transform: uppercase;
  font-weight: bold;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  padding: 0.3em 0.6em;
}

input[type="submit"]:hover:not(#escludi):not(#escludi *), input[type="reset"]:hover {
  background-color: transparent;
  color: #ffffff;
}

.password-container {
  position: relative;
  display: inline-block;
}

.toggle-password {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-30%);
  border: none;
  background-color: transparent;
  color: #114B73;
  cursor: pointer;
}

.campi1 {
	position: relative;
	display: inline-block;
}

.campi2 {
	position: relative;
	display: inline-block;
}
/*
.ordine {
	display:flex;
	justify-content: space-between;
  	align-items: center;
  	max-width: 400px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
  	flex-wrap: wrap;
}
*/

.button-container {
	display:flex;
	justify-content: space-between;
  	align-items: center;
  	max-width: 200px;
  	margin-left: auto;
  	margin-right: auto;
  	margin-bottom: 5px;
}


.button-color {
  color: #61BDD1;
  padding: 0.3em 0.6em;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  text-transform: uppercase;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 3px solid #61BDD1;
}

.button-color:hover {
  color: #ffffff;
  transform: scale(1.05);
  outline: 3px solid #70bdca;
  box-shadow: 4px 5px 17px -4px #61BDD1;
}

.button-color::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #308F9B;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 800ms;
}

.button-color:hover::before {
  width: 250%;
}